@import url(http://fonts.googleapis.com/css?family=Crimson+Text);

.container {
	display: block;
	margin: 0 auto;
	padding-top: 10%;
	color: black;
	position: relative;
	top: 0;
	left: 0;
	text-align: center;
}

#splash-sections-container {
	position: fixed;
	margin-left: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin-bottom: 50px;
	padding-left: 10%;
	padding-right: 10%;
}

.splash-section {
	border: 1px solid transparent;
	border-bottom: 1px solid rgba(255, 255, 234, 0.5);
	color: #edfffb;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 20px;
}

.splash-section:hover {
	border: 1px solid rgba(180, 193, 0, 0.9);
	color: rgba(180, 193, 0, 0.9);
	cursor: pointer;
	border-radius: 2px;
}

.splash-section h5 {
	margin-bottom: 0;
	font-family: 'Crimson Text', serif;
}

.vision, .folio, .service {
	min-height: 100vh;
	position: fixed;
	top: 0;
	background-color: #302F2D;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
}

#vision-menu, #folio-menu, #service-menu {
	text-align: left;
	color: #f7fcfb;
}

/* MEDIA QUERIES */
@media screen and (max-width: 400px) {
	#official-logo {width: 200px;}
	#splash-sections-container {
		padding-left: 40px;
		padding-right: 40px;
	}
}